.SignIn {
    padding: 1rem;

    h2 {
        color: white;
        margin: 1rem 0;
        font-style: normal;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .form-sign-in {
        .form {
            margin: 1rem  0;
            .input-box {
                background-color: white;
                margin: 1rem 0;
                border-radius: 8px;
                i {
                    color: #106975;
                    font-size: 24px;
                }

                input {
                    width: 80%;
                    border-radius: 8px;
                    margin: 0.5rem 0;
                    padding: 0.75rem;
                    border: none;
                    font-size: 16px;
                    font-style: italic;
                }
                input:focus {
                    outline: none;
                }
            }

            .button {
                margin-top: 2rem;
                .btn {
                    padding: 0.75rem 1.25rem;
                    border: none;
                    margin: 0 1rem;
                    border-radius: 8px;
                    font-weight: bold;
                    color: white;
                    cursor: pointer;
                }
                .btn:focus {
                    outline: none;
                }
                .btn:active {
                    transform: translateY(2px);
                }
                .btn-accept {
                    background-color: #007bff;
                }
                .btn-close {
                    background-color: #dc3545;
                }
            }
        }
    }
}
