*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-left: 10%;
  background-image: url('https://image.viettimes.vn/w800/Uploaded/2020/aohuooh/2019_01_18/thien_ha_sombrero7458642_1812019.jpg');
}
